/* Price cards */
.price-card
{
	position: relative;
	width: 100%;
	height: 100vh;
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}
.card
{
	position: relative;
	background-color: #333;
	width: 18rem;
	padding: 3rem 2rem;
	text-align: center;
	border-radius: 6px;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transition: 1s;
	z-index: 1;
}
.card:hover{
	letter-spacing: 1px;
	border: 2px solid #fff;
	transform: translateY(-50px);
	box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}
.card-name{
	top: -10px;
	right: 30px;
	font-size: 5em;
	font-weight: 700;
	margin: 1rem 0;
	color: rgba(255,255,255,0.05);
}

.price-card .card h3{
	font-size: 1.8em;
	color: #FB351F;
	z-index: 1;
	transition: 0.5s;
}
.card-list{
	list-style: none;
}
.card-items
{
	padding: .7rem 0;
	font-size: 1.1em;
	color: rgba(255,255,255,0.5);
}
.card-price{
	width: 6rem;
	height: 6rem;
	text-align: center;
	line-height: 6rem;
	background-color: #FB351F;
	color: #fff;
	border-radius: 50%;
	font-size: 1.4rem;
	margin: auto;
	margin-top: -6rem;
	margin-bottom: 1rem;
	border: 2px solid #fff;
}
	

.card-btn{
	display: inline-block;
	padding: 10px 30px;
	border: 1px solid #fff;
	background-color: #FB351F;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 2s;
	box-shadow: 0 0 6px rgba(0,0,0,.2);
}
.card-btn:hover{
	border: 1px solid #000;
	border-radius: 50px;
	letter-spacing: 3px;
}